.btn-move {
  margin-top: 10px;
  margin-bottom: 10px;
}

.movement {
	margin-top: 280px;
}
p a {
	color: white;
	text-shadow: 
	-1px -1px 0 black,
	1px -1px 0 black,
	-1px 1px 0 black,
	1px 1px 0 black;
}

h1 {
	text-shadow: 
    	-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
    font-size: 75px;
}
h3 {
	text-shadow: 
	-1px -1px 0 black,
	1px -1px 0 black,
	-1px 1px 0 black,
	1px 1px 0 black;
}